<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BusinessLayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <applicationSettings>
    <BusinessLayer.Properties.Settings>
      <setting name="BusinessLayer_POSMng_POSMng" serializeAs="String">
        <value>http://192.168.1.10:7047/DynamicsNAV100/WS/Gasgo/Codeunit/POSMng</value>
      </setting>
      <setting name="BusinessLayer_salesorderservice_SalesOrder_Service" serializeAs="String">
        <value>http://192.168.1.10:7047/DynamicsNAV100/WS/Gasgo/Page/SalesOrder</value>
      </setting>
      <setting name="BusinessLayer_salesordersubform_SalesOrderLine_Service" serializeAs="String">
        <value>http://192.168.1.10:7047/DynamicsNAV100/WS/Gasgo/Page/SalesOrderLine</value>
      </setting>
      <setting name="BusinessLayer_salesquoteservice_SalesQuote_Service" serializeAs="String">
        <value>http://192.168.1.10:7047/DynamicsNAV100/WS/Gasgo/Page/SalesQuote</value>
      </setting>
    </BusinessLayer.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>