<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PosClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
                                                                                                                      </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <appSettings>
    <add key="Z_EntityFramework_Extensions_LicenseName" value="1543;101-BIT"/>
    <add key="Z_EntityFramework_Extensions_LicenseKey" value="171e1188-510f-7ec0-9965-bb9539437276"/>
  </appSettings>  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers> 
  </entityFramework>
  <connectionStrings>
    <add name="POSWR1Entities" connectionString="metadata=res://*/PosDB.csdl|res://*/PosDB.ssdl|res://*/PosDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.0.17;initial catalog=POSWR1;persist security info=True;user id=bit;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NtosServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="NtosServiceSoap1" />
        <binding name="NtosServiceSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="NtosServiceSoap3" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://www.revenue.mof.ge/ntosservice/ntosservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="NtosServiceSoap"
        contract="NtosServiceReference.NtosServiceSoap" name="NtosServiceSoap" />
      <endpoint address="https://www.revenue.mof.ge/ntosservice/ntosservice.asmx"
        binding="basicHttpBinding" bindingConfiguration="NtosServiceSoap2"
        contract="ServiceReference1.NtosServiceSoap" name="NtosServiceSoap1" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <PosClient.Properties.Settings>
      <setting name="PosClient_ge_mof_revenue_www_NtosService" serializeAs="String">
        <value>https://www.revenue.mof.ge/ntosservice/ntosservice.asmx</value>
      </setting>
    </PosClient.Properties.Settings>
  </applicationSettings>
</configuration>